<article>
    <header><h1>Login Page</h1></header>
    {{!-- form - login-form --}}

    <p>{{error}}</p>
    
    <form id="login-form" action="/login" method="post">
        <label for="text">Username:</label>
        {{!-- username - username --}}
        <input type="text" name="username" id="username">
        <label for="password">Password:</label>
        {{!-- password - password --}}
        <input type="password" name="password" id="password">
        <input type="submit" value="Submit">
    </form>
</article>