<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/public/site.css">
</head>
<body>
    {{!-- <nav>
        <ul>
            <li><a href="/posts/new">Add a Post</a></li>
        </ul>
    </nav> --}}
    <main>
        {{{body}}}
    </main>
</body>
</html>