<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Palindrome Checker Part 2: Electric Boogaloo</title>
    <link rel="stylesheet" href="/public/css/site.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
        crossorigin="anonymous">
</head>
<body>
    <div id="top"></div>
    <main class="container">
        <h1>Palindrome Checker Part 2: </h1>
        <p id="eb">Electric Boogaloo</p>
        <div class="row">
            <div class="col-sm-6">
                {{{body}}}
            </div>
        </div>
        <footer>
            <p id="tb">Timothy Barrett 10413018</p> - Pink starbursts are the best.
        </footer>
    </main>

    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
        crossorigin="anonymous"></script>
    <script src="/public/js/form.js"></script>
</body>
</html>