<article>
  <header>
    <h1>{{title}}</h1>
  </header>
  {{!-- Change paragraph to error class in the css --}}
  <p class=error>{{description}}</p>

  <a href="/">Try another palindrome</a>
</article>